body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sidenav{
    width: 250px;
}
header, main, footer {
    padding-left: 250px;
    // padding-right: 250px;
}
@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
}
.nav-container{
  padding-right: 200px;
}
.nav-wrapper a:hover,.nav-wrapper a:hover a{
    text-decoration: none;
    color:white;
}
.sidenav li:hover a{
    text-decoration: none;
}
.nav-wrapper.main{
    background-color: #2a363b;
    padding-left: 10px;
}
.page-footer{
    background-color: #2a363b;
}
.sidenav .user-view{
    background-color: #11afdb; 
    padding: 20px 20px 3px 15px;
}
.sidenav .user-view .name{
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}
.role{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px; 
}
.sidenav li.user-test{
    line-height: 25px;
}
.icon{
    font-size: 25px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
ul.breadcrumb{
    padding-left: 10px;
    background-color: white;
}
ul.breadcrumb a{
    text-decoration: none;
    color:black;
}

.btn{
    line-height: 25px;
    border-radius: 0;
    color:white;
}
.btn-jos{
    background-color: #11afdb;
   
}
.btn-abi{
    background-color:  #2e2e2e;
    opacity: 0.8;
}

.btn:hover{
    background-color:white;
}
a:hover{
    color:black;
}
.modal-row{
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-jos{
    margin: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.modal{
    overflow-y: auto
}
.jos-modal{
    border: 3px solid #11afdb;
}
.modal-content{
    padding-top: 5px !important;
    border: none;
}
.input-field .prefix{
    top:0;
    margin-left:0;
}

.input-field{
    padding-top: 0;
    margin: 0px;
}
.myinput-with-prefix{
    margin-left: 3rem !important;
}
.myrow{
    margin-bottom: 5px !important;
}

.myinput, .select-wrapper input.select-dropdown{
    height: 2.5rem !important;
}
.file-field .btn{
    height: 2.5rem;
    line-height: 1.9rem;
}
.file-field .file-path-wrapper{
    padding-left: 0;
}
.paging{
    margin-top: 10px;
}

.pagination .active a{
    background-color: #11afdb;
}
.emp_details{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.h5-header{
    background-color: #2a363b;
    margin: 0;
    margin-bottom: 10px;
    padding: 8px;
    color:white
}

img.emp_photo{
    width: 140px;
    height: 150px;
    border: 1px solid gray;
}
.emp_details_table tr, .emp_details_table td{
        padding: 8px 8px;
}
table td{
    padding-left: 20px !important;
}
.info{
    width: 95% !important;
    margin: auto !important;
}
.label{
    font-size: 0.9rem;
    font-weight: 400;
    width: 40%;
    color:black;
}
.emp_details_table{
    color:#5e6360;
}
.emp_details_btn i.left{
    margin-right: 0px !important;
}
.emp_details_btn{
    margin-left:10px;
}
.btn-add-jos, .add_emp_container .select-wrapper input.select-dropdown, .datepicker, .my-textarea{
    height: 2rem !important;
    border: 1px solid #a2aaa8 !important;
    margin:0px !important;
    text-indent: 7px;
    border-radius: 3px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14) !important;
    font-size:14px !important;
}
.my-textarea{
    padding: .3rem 7px !important;
    text-indent: 0 !important;
}
.add_emp_table .input-field .prefix ~ input{
    width: 100% !important;
}
.add_emp_table .input-field .prefix{
    right:8px !important;
    color:gray;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 2rem;
}

.add_emp_table td{
    padding: 2px 0px !important;
}
.datepicker-date-display{
    background-color: #11afdb !important;
}
.datepicker-controls .select-month input{
    width: 100%;
}
.modal .t1{
    width: 100%;    
}
.modal .input-field input, .modal .select-wrapper input.select-dropdown{
    height: 2.2rem !important;
    border: 3px ridge rgb(231, 218, 218) !important;
    text-indent: 7px;
    margin-bottom: 2.5rem !important;
    border-radius: 3px !important;
    font-size:14px !important;
}

@media only screen and (min-width: 601px){
    .datepicker-modal {
        min-width: 600px !important;
    }
}
.datepicker-controls{
    margin-top:10px;
}
.datepicker-date-display .date-text{
    font-size: 2rem !important;
}
.modal table td {
    padding-left: 0px !important;
}
@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 44%;
    }
}